* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  --btn-bgColor: #1a1a1a;
  --btn-borderColor: #2c2c2c;
  --btn-textColor: #ffffff;
}

button {
  border-radius: 30px;
  border: 1px solid var(--btn-borderColor);
  background-color: var(--btn-bgColor);
  outline: none;
  color: white;
  padding: 15px 30px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  position: relative;
  transition: all ease 0.5s;
  overflow: hidden;
}
button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: none;
  transition: all ease 0.4s;
  box-shadow: 0 0rem 4em 2rem #666666;
  scale: 0;
}

button:hover {
  border-color: #666666;
  background: #292929;
}

button:hover::after{
    scale: 2;
}
