body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(207, 207, 207);
}
:root {
  --primary-color: #008080;
}

button {
  position: relative;
  width: 140px;
  height: 40px;
  outline: none;
  border-radius: 10px;
  border: none;
  background: rgb(236, 236, 236);
  overflow: hidden;
  transition: all ease 0.6s;
  cursor: pointer;
}
button::after {
  content: "Hover Me";
  position: absolute;
  border-radius: 10px;
  background-color: white;
  width: 140px;
  height: 40px;
  transition: all ease 0.6s;

  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  font-size: large;
  font-weight: bold;
  color: #008080;
}
button::before {
  content: "Thanks";
  position: absolute;
  border-radius: 10px;
  background-color: #008080;
  transition: all ease 0.6s;
  top: 5rem;
  left: 0;
  color: white;
  width: 140px;
  height: 40px;
  font-weight: bold;
  font-size: large;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
button:hover::after {
  top: -5rem;
  transform: rotate(100deg);
  scale: 0.3;
}

button:hover::before {
  transition: all ease 0.6s;
  top: 0;
  left: 0;
}
