* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(210, 208, 208);
}
.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 42, 42);
  border-radius: 50px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all ease 0.3s;
}
.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  transition: all ease 0.3s;
  width: 100%;
  height: 0%;

  background-color: #f53845;
  z-index: 1;
}
h2 {
  font-family: sans-serif;
  color: white;
  font-size: 20px;
}
.wrong {
  border-radius: 50%;
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px solid #f53845;
  background-color: transparent;
  z-index: 2;
}
.wrong::after,
.wrong::before {
  content: "";
  position: absolute;
  background-color: #f53845;
  border-radius: 10px;
  width: 20px;
  height: 2px;
  rotate: 45deg;
}
.wrong::before {
  top: 44%;
  left: 11%;
}
.wrong::after {
  top: 44%;
  left: 11%;
  rotate: -45deg;
}
@keyframes shake {
  0% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(15deg);
  }
  90% {
    transform: rotate(-15deg);
  }
}
.text {
  z-index: 2;
}
.container:hover {
  animation: shake 0.3s;
}
.container:hover::after {
  height: 100%;
}
.container:hover .wrong {
  border-color: white;
}
.container:hover .wrong::after,
.container:hover .wrong::before {
  background-color: white;
}
