* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(53, 53, 53);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}
html {
  height: 100vh;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  transition: all ease .2s;
  padding: 10px;
  border-radius: 10px;
  overflow-y: hidden;
  position: relative;
  z-index: 0;
}
.btn::after {
    transition: all ease 1s;
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  opacity: .2;
  filter: blur(2px);
  height: 100vh;
  transform: rotate(30deg);
  z-index: -2;
  width: 17%;
  right: -30%;
}
.btn:hover::after{
    right: 80%;
}
.btn:hover .star{
    fill: yellow;
}
.btn:hover{
    border: 2px solid white;
}
.github {
  z-index: 100;
  fill: white;
  width: 20px;
  height: 20px;
}
.star {
  z-index: 100;
  fill: gray;
  width: 20px;
  height: 20px;
  transition: all ease 1s;
}
.left {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  align-items: center;
  gap: 10px;
  z-index: -1;
}
.right {
  display: flex;
  gap: 5px;
  align-items: center;
  z-index: -1;
  justify-content: center;
}
