* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: black;
}

input {
  display: none;
}
label {
  background-color: rgb(85, 85, 85);
  border-radius: 20px;
  border: none;
  outline: none;
  width: 70px;
  cursor: pointer;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
label::after {
  content: "";
  width: 10px;
  height: 10px;
  transition: all ease 0.5s;

  position: absolute;
  left: 4px;
  border: 6px solid rgb(218, 218, 218);
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(85, 85, 85);
}
input:checked + label::after {
  left: 62%;
}
