:root {
  --primary-color: #252525;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-color);
}
html{
    height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button{
    background-color: var(--primary-color);
    outline: none;
    border: none;
    color: white;
    font-weight: 100;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px white;
    transition: all ease .2s;
}
button:active{
        transform: translate(3px , 3px);
    box-shadow: none;
}