:root {
  --primary-color: #07f;
  --secondary-color: rgba(0, 23, 108, 0.45);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(55, 55, 55);
  font-family: sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-weight: 100;
  gap: 7px;
  transition: all ease 0.4s;
  cursor: pointer;
  padding: 10px 10px;
}
label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease 0.4s;
}
input {
  display: none;
}
.container:hover {
  background-color: var(--secondary-color);
  border-radius: 4px;
}
.container:hover label {
  border-color: var(--primary-color);
}
input:checked + label {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
