* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(44, 44, 44);
}
button {
  background-color: rgb(0 107 179);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  outline: none;

  gap: 10px;
  border: 3px solid #ffffff4d;
  transition: all ease 0.4s;
  position: relative;
  border-radius: 47px;
   padding-block: 0.5rem;
  padding-inline: 1.25rem;
  overflow: hidden;
  z-index: 2;
}
button:hover {
  border-color: white;
}
svg{
    width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}
button::after{
    content: "";
    position: absolute;
    height: 100px;
    z-index: -1;
    filter: blur(10px);
    width: 20px;

    background-color: white;
    left: -6rem;
    transition: all ease .5s;
    rotate: 45deg;
}
button:hover::after{
      animation: shine 2s infinite ease-in-out;
}
button:hover svg{
    
  transform: translate(4px);
}
@keyframes shine{

    to{
        left: 120%;
    }
}